<div class="dashboard-container">
    <header class="dashboard-header">
        POC SDP - Reportes de Avisos
    </header>
    <div class="content-container">
        <div class="row">
            <!-- Indicator container -->
            <div class="indicator-container">
                <div class="indicator">
                    <div class="indicator-title">Número de casos</div>
                    <div class="indicator-value">{{totalCasesNumber}}</div>
                    <canvasjs-chart [options]="totalCases" [styles]="{width: '300px', height:'100px'}"
                        (chartInstance)="getChartInstanceForTotalCases($event)"></canvasjs-chart>
                </div>
                <div class="indicator">
                    <div class="indicator-title">Total en pagos</div>
                    <div class="indicator-value">${{totalPaymentNumber}}</div>
                    <canvasjs-chart [options]="totalPayment" [styles]="{width: '300px', height:'100px'}"
                        (chartInstance)="getChartInstanceForTotalPayment($event)"></canvasjs-chart>
                </div>
                <div class="indicator">
                    <div class="indicator-title">Número de casos liquidados</div>
                    <div class="indicator-value">{{liquidatedCasesNumber}}</div>
                    <canvasjs-chart [options]="liquidatedCases" [styles]="{width: '300px', height:'100px'}"
                        (chartInstance)="getChartInstanceForLiquidatedCases($event)"></canvasjs-chart>
                </div>
                <div class="indicator">
                    <div class="indicator-title">Valor en reserva</div>
                    <div class="indicator-value">${{amountInReserveNumber}}</div>
                    <canvasjs-chart [options]="amountInReserve" [styles]="{width: '300px', height:'100px'}"
                        (chartInstance)="getChartInstanceForAmountInReserve($event)"></canvasjs-chart>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="chart-container half-width">
                <canvasjs-chart [options]="chartOptions1" [styles]="{width: '100%', height:'200px'}"
                    (chartInstance)="getChart1Instance($event)"></canvasjs-chart>
            </div>
            <div class="chart-container half-width">
                <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'200px'}"
                    (chartInstance)="getChart2Instance($event)"></canvasjs-chart>
            </div>
        </div>
        <div class="row">
            <div class="chart-container half-width">
                <canvasjs-chart [options]="chartOptions3" [styles]="{width: '100%', height:'200px'}"
                    (chartInstance)="getChart3Instance($event)"></canvasjs-chart>
            </div>
            <div class="chart-container half-width">
                <canvasjs-chart [options]="totalCasesByPeriod" [styles]="{width: '100%', height:'200px'}"
                    (chartInstance)="getChartInstanceForTotalCasesByPeriod($event)"></canvasjs-chart>
            </div>
        </div>
    </div>

</div>