<div class="container p-3 max-w-sm rounded-lg overflow-hidden shadow-lg ">
    <div class="grid grid-cols-6">
        <div class="grid grid-rows-1 grid-flow-col gap-4 col-span-6 mb-3">
            <nav class=" flex max-w-7xl items-center justify-between p-2 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <div data-te-chip-init data-te-ripple-init
                        class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] bg-[#eceff1] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none active:bg-[#cacfd1] dark:bg-neutral-400 dark:text-neutral-200"
                        data-te-close="true">
                        Casos
                    </div>
                    <div data-te-chip-init data-te-ripple-init
                        class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] bg-[#eceff1] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none active:bg-[#cacfd1] dark:bg-neutral-400 dark:text-neutral-200"
                        data-te-close="true">
                        Liquidados
                    </div>
                    <div data-te-chip-init data-te-ripple-init
                        class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] bg-[#eceff1] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none active:bg-[#cacfd1] dark:bg-neutral-400 dark:text-neutral-200"
                        data-te-close="true">
                        Ejecutivos
                    </div>
                </div>
                <div class="relative mr-3">
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-xl 
                            text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button" (click)="toggleDropdown()">Periodo<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownDefaultCheckbox" *ngIf="isDropdownOpen"
                        class="z-10 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 absolute">
                        <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownCheckboxButton">
                            <li>
                                <div class="flex items-center">
                                    <input id="checkbox-item-1" type="checkbox" value=""
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-1"
                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">2023</label>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <input id="checkbox-item-1" type="checkbox" value=""
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-1"
                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">2024</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="relative mr-3">
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium 
                            rounded-xl text-sm px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button" (click)="toggleDropdown2()">Mes<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownDefaultCheckbox" *ngIf="isDropdownOpen2"
                        class="z-10 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 absolute">
                        <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownCheckboxButton">
                            <li>
                                <div class="flex items-center">
                                    <input id="checkbox-item-1" type="checkbox" value=""
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-1"
                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Enero</label>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <input id="checkbox-item-1" type="checkbox" value=""
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-1"
                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Febrero</label>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <input id="checkbox-item-1" type="checkbox" value=""
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-1"
                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Marzo</label>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <input id="checkbox-item-1" type="checkbox" value=""
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-1"
                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Abril</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
        <div class="grid grid-rows-1 grid-flow-col gap-4 col-span-6 mb-3">
            <div class="max-w-sm rounded-lg overflow-hidden shadow-lg p-2">
                <div class="text-sm text-center">Número de casos</div>
                <div class="text-2xl text-center font-bold">{{totalCasesNumber}}</div>
                <canvasjs-chart [options]="totalCases" [styles]="{height:'60px'}"
                    (chartInstance)="getChartInstanceForTotalCases($event)"></canvasjs-chart>
            </div>
            <div class="max-w-sm rounded-lg overflow-hidden shadow-lg p-2">
                <div class="text-sm text-center">Total en pagos</div>
                <div class="text-2xl text-center font-bold">${{totalPaymentNumber | number}}</div>
                <canvasjs-chart [options]="totalPayment" [styles]="{height:'60px'}"
                    (chartInstance)="getChartInstanceForTotalPayment($event)"></canvasjs-chart>
            </div>
            <div class="max-w-sm rounded-lg overflow-hidden shadow-lg p-2">
                <div class="text-sm text-center">Número de casos liquidados</div>
                <div class="text-2xl text-center font-bold">{{liquidatedCasesNumber}}</div>
                <canvasjs-chart [options]="liquidatedCases" [styles]="{ height:'60px'}"
                    (chartInstance)="getChartInstanceForLiquidatedCases($event)"></canvasjs-chart>
            </div>
            <div class="max-w-sm rounded-lg overflow-hidden shadow-lg p-2">
                <div class="text-sm text-center">Valor en reserva</div>
                <div class="text-2xl text-center font-bold">${{amountInReserveNumber | number}}</div>
                <canvasjs-chart [options]="amountInReserve" [styles]="{ height:'60px'}"
                    (chartInstance)="getChartInstanceForAmountInReserve($event)"></canvasjs-chart>
            </div>
        </div>
        <div class="relative grid grid-rows-2 grid-flow-col gap-2 col-span-6">
            <div class="relative rounded-lg overflow-hidden shadow-lg">
                <canvasjs-chart [options]="chartOptions1" [styles]="{width: '100%', height:'240px', padding: '1px'}"
                    (chartInstance)="getChart1Instance($event)"></canvasjs-chart>
            </div>
            <div class="relative rounded-lg overflow-hidden shadow-lg">
                <canvasjs-chart [options]="chartOptions3" [styles]="{width: '100%', height:'240px'}"
                    (chartInstance)="getChart3Instance($event)"></canvasjs-chart>

            </div>
            <div class="relative rounded-lg overflow-hidden shadow-lg">
                <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'240px'}"
                    (chartInstance)="getChart2Instance($event)"></canvasjs-chart>
                <button *ngIf="showDrilldown" (click)="backToMainChart()"
                    class="absolute top-2 right-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
                    Regresar
                </button>
            </div>
            <div class="rounded-lg overflow-hidden shadow-lg">
                <canvasjs-chart [options]="totalCasesByPeriod" [styles]="{width: '100%', height:'240px'}"
                    (chartInstance)="getChartInstanceForTotalCasesByPeriod($event)"></canvasjs-chart>
            </div>
        </div>
    </div>
</div>